@media screen and (max-width:786px){
    .container-header{
        justify-content: space-between;
    }
    .center-menu, .links{
        display: none !important;
    }
    .nav-menu{
        width: 100% !important;
    }
}
.center-menu{
    display: flex;
    justify-content: center;
    align-content: center;
}
.nav-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    width: 300px;
    z-index: 50;
    display: none;
    flex-direction: column;
    list-style: none;
    /* align-items: center; */
    padding: 20px;
    overflow-y: scroll;
    transition: all .8s ease-in-out;
}
.open{
     transition: all .8s ease-in-out;
    display: flex;
}
.nav-menu::-webkit-scrollbar{
    display: none;
}
.nav-menu .list{
    margin-top: 30px;
}
.nav-menu button{
    padding-right: 20px;
    position: fixed;
    right: 0;
    margin-bottom: 20px;
}
.nav-menu li{
    
    padding: 15px 0;
    border-bottom:1px solid rgba(0,0,0,0.2) ;
}
.nav-menu li>a{
    font-weight: 600;
}